<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuni.kretabikreta">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.Receiver" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KretaBikreta.NoActionBar">
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".HelpPoorActivity"
            android:exported="false" />
        <activity
            android:name=".HelpThemActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsSellerActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileSellerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditProductActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NoInternetActivity"
            android:exported="false" />
        <activity
            android:name=".TotalCostActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterUserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShopReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ProductInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ShopDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsUsersActivity"
            android:exported="false" />
        <activity
            android:name=".MainUserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShopCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterSellerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainSellerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TermsConditionActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditeProfileUserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeleteCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".MyFirebaseMessaging"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.Send">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.Receive" />
            </intent-filter>
        </service>
    </application>

</manifest>